:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-color: #2196f3;
}

body {
  font-family: var(--main-font);
}

/*------COMPONENTS------*/

.font-style {
  font-family: "Roboto", sans-serif, "Raleway", sans-serif;
  text-decoration: none;
}

.background {
  background-color: #2f303a;
}

.logo-link {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #2196f3;
}

/*-----END COMPONENTS-----*/

/*------HEADER-------*/

.navigation-list {
  list-style: none;
}

.header a {
  text-decoration: none;
}

.navigation a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #212121;
}

.contact-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #757575;
}

.navigation-list-link:hover,
.contact-header:hover,
.logo-link:hover,
.navigation-list-link:focus,
.contact-header:focus,
.logo-link:focus {
  color: var(--main-color);
}

/*-------END HEADER-----*/

/*------HERO------*/

.about-list {
  list-style: none;
}

.hero {
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.06em;
}

.main-header {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.364;
  text-transform: uppercase;
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

/*------END HERO------*/

/*----ABOUT----*/

.main-description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.description {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

/*----END ABOUT----*/

/*-----WHAT DO WE DO-----*/

.doing-list {
  list-style: none;
}

.doing-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

/*-----END WHAT DO WE DO-----*/

/*----OUR TEAM----*/

.background-secondary {
  background-color: #f5f4fa;
}

.signature {
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
}

.signature-name {
  font-weight: 500;
  color: #212121;
}

.signature-occupation {
  color: #757575;
}

/*----END OUR TEAM----*/

/*----FOOTER----*/

.footer a {
  text-decoration: none;
}

.address-list {
  list-style: none;
}

.address-list a {
  font-style: normal;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.address-footer a {
  line-height: 1.5;
  color: #ffffff;
}

.contact-footer a {
  line-height: 1.714;
  color: rgba(255, 255, 255, 0.6);
}

.mail-footer {
  text-decoration-line: underline;
}

.address-footer-link:hover,
.address-footer-link:focus,
.contact-footer-link:hover,
.contact-footer-link:focus {
  color: var(--main-color);
}

/*----END FOOTER----*/

/*----PORTFOLIO----*/

.portfolio-nav button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  cursor: pointer;
  color: #212121;
  background: #f5f4fa;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--main-color);
  color: #ffffff;
}

.portfolio-signature-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-occupation {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}
.portfolio-nav-list {
  list-style: none;
}

/*----END PORTFOLIO----*/
